<header class="p-xxl">

  <div class="d-flex flex-row v-center">
    <div>
      <img src="imgs/gameboy-v2.svg" alt="Gameboy Image" style="width: var(--xxxxl);">
    </div>
    <div class="p-h-m">
      <h1 class="d-inline text-heavy text-lowercase" style="color: var(--purple);">{{ site.title }}</h1>
      <ul class="legend d-flex flex-wrap v-center">
        <li class="d-block sm-w-100 m-b-xs m-r-xs text-uppercase text-s text-bold">Version {{ site.version }}</li>
        <li class="m-b-xs m-r-xs p-v-xxs p-h-s text-uppercase text-s text-bold text-light" style="background-color: var(--blue);">In Progress</li>
        <li class="m-b-xs m-r-xs p-v-xxs p-h-s text-uppercase text-s text-bold text-light" style="background-color: var(--green);">Completed</li>
        <li class="m-b-xs m-r-xs p-v-xxs p-h-s text-uppercase text-s text-bold text-light" style="background-color: lightsteelblue;">Not Started</li>
      </ul>
    </div>
  </div>

  </header>
