<header class="container">
  <div class="drawer center-center">
    <div class="box-100 drawer" style="flex-flow: row nowrap">
      <div class="logo center-center">
        <img src="imgs/gameboy-v2-half.png">
      </div>
      <div class="box">
        <h1 class="h3">{{ site.title }}</h1>
        <small><b>Version 1.5</b></small>
        <ul class="legend">
          <li class="square" style="background-color: royalblue"></li>
          <li>In Progress</li>
          <li class="square" style="background-color: lightsteelblue"></li>
          <li>Not Started</li>
          <li class="square" style="background-color: mediumseagreen"></li>
          <li>Completed</li>
        </ul>
      </div>
    </div>
  </div>
</header>
